<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body class="body"> 
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="/static/logo.png" alt="Logo" class="logo"> 
        </div>
        <ul class="sidebar-menu">
            <li><a href="/">Página Inicial</a></li>
            <li><a href="/files">Histórico</a></li>
            <li><a href="/employees">Lista de Colaboradores</a></li>
            <li><a href="/trainings">Lista de Formações</a></li>
            <li><a href="/reports">Gerar relatório</a></li>
        </ul>
    </div>
    
    <div class="main-content">
        <div class="content-box">
            <h1 class="header">Histórico de formações</h1> 
            <div class="scroll-container">  
                <table class="table"> 
                    <thead>
                        <tr>
                            <th>ID do colaborador</th>
                            <th>Nome</th>
                            <th>Departamento</th>
                            <th>Última data de formação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file, employees in data.items() %}
                            {% for employee in employees %}
                            <tr>
                                <td>{{ employee['Employee ID'] }}</td>
                                <td>{{ employee['Name'] }}</td>
                                <td>{{ employee['Department'] }}</td>
                                <td>{{ employee['Last Training Date'] }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</body>
</html>
